{{#each this}}
<li class="menu__item">
    <div class="card">

        <img src="{{webformatURL}}" alt="" data-source="{{largeImageURL}}" class="card__image" />

        <div class="tag-list">
            <p class="tag-list__item">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="tag-list__item">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="tag-list__item">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="tag-list__item">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>

</li>
{{/each}}